:root{
	--hotbar-border-clr: rgb(174, 174, 174);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #badbe4;
	overflow: hidden;
}
.action-button{
	position: absolute;
	z-index: 100000;
	pointer-events: all;
	padding: 10px;
    margin: 10px;
    background-color: rgb(174, 174, 174);
    font-family: 'VT323', monospace;
    color: #fff;
    display: inline-block;
    box-shadow: -1px -1px 0px 0px #f8f8f8, 1px 1px 0px 0px #000000a8;
    cursor: pointer;
    user-select: none;
}
.tile{
	position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.tile.active{
	outline: 1.5px solid red;
    outline-offset: -1.5px;
}
.tile.mouse-over:hover{
	outline: 1.5px solid black;
    outline-offset: -1.5px;
}
#shader{
	position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0) 60%, rgba(0,0,0,0.85) 100%);
	inset: 0;
    opacity: 1;
	pointer-events: none;
	z-index: 10;
}
#specs{
	width: 250px;
	position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
	background-color: rgba(0, 0, 0, 0.33);
    color: #fff;
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: 900;
	user-select: none;
}
#specs .spec-header{
	font-size: 24px;
    text-decoration: underline;
    margin-bottom: 10px;
}
#specs .spec-list{
	list-style: none;
}
#specs .spec-list .spec-item{
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 5px;
}
#specs .spec-list .spec-item.indent{
	margin-left: 15px;
}
#specs .spec-list .spec-item:last-child{
	margin-bottom: 0;
}
#hotbar{
	position: absolute;
	transform: translate(-50%);
	left: 50%;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
	flex-direction: column;
}
#hotbar .hotkey-container{
	display: flex;
}
#hotbar .hotkey-container .hotkey{
	width: 64px;
	height: 64px;
	position: relative;
	border: 5px solid var(--hotbar-border-clr);
	margin-right: 1px;
    box-shadow: inset -1px -1px 0px 0px #f8f8f8, inset 2px 2px 7px #000000a8, 1px 0px 0px #000000a8, 0px -1px 0px 0px #f8f8f8;
	background-color: rgba(228, 218, 172, 0.292);
}
#hotbar .hotkey-container .hotkey:last-child{
	border-right: 5px solid rgb(215, 215, 215);
}
#hotbar .hotkey-container .hotkey:hover{
	background: rgba(228, 218, 172, 0.45);
}
#hotbar .hotkey-container .hotkey[data-stack-size]::after{
	content: attr(data-stack-size);
	position: absolute;
	bottom: 2px;
	right: 5px;
	font-family: 'VT323', monospace;
	color: white;
    font-size: 24px;
}
#hotbar .hotkey-container .hotkey[data-hotkey]::before{
	content: attr(data-hotkey);
	position: absolute;
	top: 1px;
	left: 4px;
	font-family: 'VT323', monospace;
	color: white;
    font-size: 16px;
}
#hotbar .hotkey-container .hotkey.active{
	border-color: rgb(215, 215, 215);
	background: rgba(228, 218, 172, 0.45);
}
#player{
	height: 100px;
	width: 50px;
	background-color: chocolate;
	border-radius: 100px;
	position: absolute;
	top: 200px;
	left: 500px;
}
.monster.small{
	width: 32px;
	height: 64px;
	border-radius: 100px;
	background-color: red;
	position: absolute;
}