*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #fee1b8;
	overflow: hidden;
}
.tile{
	position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}










